*{
    margin:0;
    padding:0;
}
h1{
    text-align: center;
    font-size:60px;
    color:rgb(199, 196, 196);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    text-align: center;
}
a{
    background-color: rgb(138, 58, 58);
    border-radius: 4px;
    color:white;
    padding:10px;
    text-decoration: none;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(39, 39, 39);
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav a{
    background-color: rgb(70, 110, 70);
    border-radius: 5px;
    color:white;
    text-decoration: none;
}
footer{
    background-color: rgb(39, 39, 39);
    height: 80px;
}
header{
    height: 300px;
    background-color: rgb(185, 76, 76);
}
main{
    height: 500px;
    background-color: rgb(97, 97, 155);
}