h2{
    text-align: center;
    margin: 100px;
}

.listaProductos{
    list-style: none;
}

.listaProductos a {
    text-decoration: none;
    margin: 100px;
}

.catalogo{
    margin: 150px;
    display: flex;
    justify-content: center;
}
.catalogo ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}