h2{
    text-align: center;
    margin: 60px;
}

.listaProductos{
    list-style: none;
}

.listaProductos a {
    text-decoration: none;
    color: #F4EEE6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.listaProductos a:hover{
    font-weight: bold;
}

.catalogo{
    margin: 70px;
    display: flex;
    justify-content: center;
}
.catalogo ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 300px;
    border-radius: 40px 14px 40px 14px;
    margin: 50px;
    background-color: #000000;
    color: #F4EEE6;
}
.imgList{
    width: 200px;
}
.imgList:hover{
    transform: scale(1.2);
    border-radius: 4px;
}