.contenedorProductos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.links{
    list-style: none;
}
.links a{
    color: rgb(105, 105, 105);
    font-size: 25px;
    font-weight: bold;
}

h1{
    text-align: center;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}